/* GLOBAL */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#F2F0EF;
color:#333;
line-height:1.6;
scroll-behavior:smooth;
overflow-x:hidden;
}

/* FLOATING BACKGROUND BLOBS */

body::before,
body::after{
content:"";
position:fixed;
border-radius:50%;
filter:blur(120px);
z-index:-1;
opacity:0.35;
animation:float 14s ease-in-out infinite;
}

body::before{
width:520px;
height:520px;
background:#245F73;
top:-150px;
left:-150px;
}

body::after{
width:480px;
height:480px;
background:#E07A5F;
bottom:-150px;
right:-150px;
animation-delay:4s;
}

@keyframes float{
0%{transform:translateY(0px)}
50%{transform:translateY(40px)}
100%{transform:translateY(0px)}
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:24px 10%;
background:white;
box-shadow:0 4px 14px rgba(0,0,0,0.05);
position:sticky;
top:0;
z-index:10;
}

.logo{
font-size:24px;
font-weight:600;
color:#245F73;
}

.nav-links{
display:flex;
gap:40px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:#333;
font-size:17px;
font-weight:500;
}

.nav-links a:hover{
color:#E07A5F;
}


/* HERO */

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 12%;
gap:100px;
}

.hero-content{
max-width:550px;
}

.hero h1{
font-size:64px;
line-height:1.2;
color:#245F73;
margin-bottom:28px;
}

.hero p{
font-size:21px;
margin-bottom:40px;
}


/* BUTTON */

.primary-btn{
background:#245F73;
color:white;
border:none;
padding:18px 42px;
font-size:18px;
border-radius:10px;
cursor:pointer;
transition:all 0.25s ease;
box-shadow:0 10px 20px rgba(0,0,0,0.12);
}

.primary-btn:hover{
background:#E07A5F;
transform:translateY(-4px);
}


/* HERO FLOW */

.hero-animation{
display:flex;
align-items:center;
}

.flow{
display:flex;
align-items:center;
gap:18px;
}

/* AI NODES */

.node{
background:white;
padding:16px 22px;
border-radius:12px;
font-size:15px;
font-weight:500;
box-shadow:
0 8px 20px rgba(0,0,0,0.08),
0 2px 6px rgba(0,0,0,0.05);
animation:pulse 3s ease-in-out infinite;
}

/* ARROWS */

.arrow{
font-size:24px;
color:#E07A5F;
animation:moveArrow 2s infinite;
}

@keyframes moveArrow{
0%{opacity:0.2; transform:translateX(0)}
50%{opacity:1; transform:translateX(6px)}
100%{opacity:0.2; transform:translateX(0)}
}

@keyframes pulse{
0%{transform:scale(1)}
50%{transform:scale(1.05)}
100%{transform:scale(1)}
}


/* FEATURES */

.features{
min-height:90vh;
padding:120px 10%;
text-align:center;
}

.features h2{
font-size:42px;
margin-bottom:70px;
color:#245F73;
}

.feature-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}


/* FEATURE CARDS */

.feature-card{
background:rgba(255,255,255,0.85);
backdrop-filter:blur(8px);
padding:50px 40px;
border-radius:18px;
width:300px;
transition:all 0.3s ease;
box-shadow:
0 15px 40px rgba(0,0,0,0.12),
0 5px 12px rgba(0,0,0,0.05);
}

.feature-card h3{
font-size:22px;
margin-bottom:16px;
color:#245F73;
}

.feature-card p{
font-size:17px;
line-height:1.6;
}

.feature-card:hover{
transform:translateY(-10px);
box-shadow:0 30px 60px rgba(0,0,0,0.18);
}


/* WORKFLOW */

.workflow{
min-height:90vh;
padding:120px 10%;
text-align:center;
}

.workflow h2{
font-size:42px;
margin-bottom:70px;
color:#245F73;
}

.workflow-steps{
display:flex;
justify-content:space-between;
align-items:stretch;
gap:30px;
flex-wrap:nowrap;
max-width:1200px;
margin:auto;
}

.step{
background:white;
padding:40px 30px;
width:260px;
border-radius:16px;
box-shadow:0 12px 30px rgba(0,0,0,0.08);
transition:0.3s;
text-align:center;
flex:1;
}

.step-number{
background:#E07A5F;
color:white;
width:42px;
height:42px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
margin:0 auto 15px auto;
font-weight:600;
font-size:18px;
}
.step:hover{
transform:translateY(-8px);
}


/* UPLOAD */

.upload-section{
min-height:90vh;
padding:120px 10%;
text-align:center;
}

.upload-section h2{
font-size:42px;
margin-bottom:40px;
color:#245F73;
}

.upload-box{
background:white;
padding:50px;
border-radius:18px;
width:450px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
align-items:center;   /* ADD THIS */
box-shadow:0 15px 35px rgba(0,0,0,0.08);
}

#fileName{
color:#E07A5F;
font-size:15px;
}

#fileInput{
font-size:16px;
margin-top:10px;
}

/* PROCESSING */

.processing{
min-height:90vh;
padding:120px 10%;
text-align:center;
}

.processing h2{
font-size:40px;
margin-bottom:20px;
color:#245F73;
}

.processing-text{
margin-bottom:30px;
font-size:18px;
}


/* DOTS */

.dots{
display:flex;
justify-content:center;
gap:14px;
margin-bottom:30px;
}

.dot{
width:16px;
height:16px;
border-radius:50%;
background:#BBBDBC;
animation:blink 1.4s infinite;
}

.dot:nth-child(2){animation-delay:0.2s}
.dot:nth-child(3){animation-delay:0.4s}
.dot:nth-child(4){animation-delay:0.6s}

@keyframes blink{
0%{opacity:0.2}
50%{opacity:1}
100%{opacity:0.2}
}


/* RESULTS */

.results{
min-height:90vh;
padding:120px 10%;
text-align:center;
}

.results h2{
font-size:42px;
margin-bottom:40px;
color:#245F73;
}

.results-box{
background:white;
padding:50px;
border-radius:18px;
width:520px;
margin:auto;
text-align:left;
box-shadow:0 15px 40px rgba(0,0,0,0.10);
}

.results-box h3{
margin-top:20px;
color:#E07A5F;
}

.download-btn{
background:#E07A5F;
color:white;
border:none;
padding:14px 28px;
margin-top:25px;
border-radius:10px;
cursor:pointer;
}

.download-btn:hover{
background:#cf6c53;
}


/* FOOTER */

.footer{
text-align:center;
padding:13px;
margin-top:20px;
background:#e6e4e3;
}


/* HIDDEN */

.hidden{
display:none;
}
    

/* MOBILE */

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
gap:40px;
}

.feature-container{
flex-direction:column;
align-items:center;
}

.workflow-steps{
flex-direction:column;
align-items:center;
}

.upload-box{
width:90%;
}

.results-box{
width:90%;
}

}